 
export REACT_APP_FIREBASE_API_KEY=AIzaSyCOwgF03faXuXafUYHZCbHmm7LViNSJQfI
  
export REACT_APP_FIREBASE_DATABASE_URL=https://dbms-7fe88-default-rtdb.asia-southeast1.firebasedatabase.app

export REACT_APP_FIREBASE_PROJECT_ID=dbms-7fe88
export REACT_APP_FIREBASE_AUTH_DOMAIN=dbms-7fe88.firebaseapp.com
export REACT_APP_FIREBASE_STORAGE_BUCKET=dbms-7fe88.firebasestorage.app
export REACT_APP_FIREBASE_MESSAGING_SENDER_ID=1008579309980
export REACT_APP_FIREBASE_APP_ID=1:1008579309980:web:c2672f2d90c7f41c9f9859
export REACT_APP_FIREBASE_MEASUREMENT_ID=G-JP1P9BF0GJ
